#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h> 
#include <dt-bindings/zmk/bt.h>
// #include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

#define SEARCH    LS(F12)
#define JOURNAL   F21

//Ctrl + Arrows
#define CUP     LS(LC(T))
#define CLEFT   LS(LC(TAB))
#define CDOWN   LC(W)
#define CRIGHT  LC(TAB)

/ {    
    behaviors { 
        cup: cup {
            compatible = "zmk,behavior-mod-morph";
            label = "cup";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp CUP>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        cdown: cdown {
            compatible = "zmk,behavior-mod-morph";
            label = "cdown";
            #binding-cells = <0>;
            bindings = <&kp DOWN>, <&kp CDOWN>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        cleft: cleft {
            compatible = "zmk,behavior-mod-morph";
            label = "cleft";
            #binding-cells = <0>;
            bindings = <&kp LEFT>, <&kp CLEFT>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        cright: cright {
            compatible = "zmk,behavior-mod-morph";
            label = "cright";
            #binding-cells = <0>;
            bindings = <&kp RIGHT>, <&kp CRIGHT>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        
        ctrljournal: ctrljournal {
            compatible = "zmk,behavior-mod-morph";
            label = "ctrljournal";
            #binding-cells = <0>;
            bindings = <&kp LCTRL>, <&kp JOURNAL>;
            mods = <(MOD_RSFT)>;
        };
        backquestion: backquestion {
            compatible = "zmk,behavior-mod-morph";
            label = "backquestion";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp QUESTION>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };  
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };       
        mk: mk {
            compatible = "zmk,behavior-hold-tap";
            label = "mk";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
         };
        mm: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 1>, <&mo 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC         &kp N1     &kp N2     &kp N3     &kp N4    &kp N5                       &kp N6 &kp N7    &kp N8    &kp N9   &kp N0   &none
&kp TAB         &kp SQT    &kp COMMA  &kp DOT    &kp P     &kp Y                        &kp Y  &kp U     &kp I     &kp O    &kp P    &kp BSPC
&kp BACKSPACE   &kp A      &kp O      &kp E      &hm RSHIFT U     &kp I                        &kp H  &kp J     &kp K     &kp L    &kp SEMI &kp SQT
&kp LALT        &kp SEMI   &kp Q      &kp J      &kp K     &kp X  &kp C_MUTE     &none  &kp N  &kp M     &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
               &kp LGUI &kp LCTRL &kp BACKSPACE &hm RSHIFT SPACE  &mm          &kp SPACE &mo 2  &kp RCTRL &kp RALT  &kp RGUI
            >;           

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        low {
            bindings = <
&trans    &kp F1    &kp F2    &kp F3      &kp F4    &kp F5                    &kp F6    &kp F7   &kp F8          &kp F9    &kp F10   &kp F11
&none     &kp L    &kp R    &kp C    &kp G   &kp F                    &kp N6    &kp N7   &kp N8          &kp N9    &kp N0    &kp F12
&trans    &kp S    &kp N    &kp T    &kp H   &kp D                 &kp CARET &kp AMPS &kp KP_MULTIPLY &kp LPAR  &kp RPAR  &kp PIPE
&trans    &kp V    &kp V    &kp W    &kp M   &kp B  &trans      &trans &kp LBKT  &kp RBKT &kp SEMI        &kp COLON &kp BSLH  &trans
                    &trans    &trans &trans    &to 0    &trans   &trans &trans    &trans   &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise {
            bindings = <
&trans    &kp F1    &kp F2    &kp F3      &kp F4    &kp F5                    &kp F6    &kp F7   &kp F8          &kp F9    &kp F10   &kp F11
&none     &kp LS(L)    &kp LS(R)    &kp LS(C)    &kp LS(G)   &kp LS(F)                    &kp N6    &kp N7   &kp N8          &kp N9    &kp N0    &kp F12
&trans    &kp LS(S)    &kp LS(N)    &kp LS(T)    &kp LS(H)   &kp LS(D)                 &kp CARET &kp AMPS &kp KP_MULTIPLY &kp LPAR  &kp RPAR  &kp PIPE
&trans    &kp LS(V)    &kp LS(V)    &kp LS(W)    &kp LS(M)   &kp LS(B)  &trans      &trans &kp LBKT  &kp RBKT &kp SEMI        &kp COLON &kp BSLH  &trans
                        &trans       &trans       &trans       &trans  &trans   &trans  &trans    &trans    &trans   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
