#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h> 
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NAV2    1
#define MOUSE   2
#define NAV     3
#define ENC1    4

#define SEARCH    LS(F12)
#define JOURNAL   F21

//Mouse Movement
#define MUP       MOVE(0,     -800)
#define MLEFT     MOVE(-800, 0)
#define MDOWN     MOVE(0,     800) 
#define MRIGHT    MOVE(800,  0) 
#define MSUP      SCROLL_UP
#define MSDOWN    SCROLL_DOWN

//Ctrl + Arrows
#define CUP     LS(LC(T))
#define CLEFT   LS(LC(TAB))
#define CDOWN   LC(W)
#define CRIGHT  LC(TAB)

/ {    
    behaviors { 
        cup: cup {
            compatible = "zmk,behavior-mod-morph";
            label = "cup";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp CUP>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        cdown: cdown {
            compatible = "zmk,behavior-mod-morph";
            label = "cdown";
            #binding-cells = <0>;
            bindings = <&kp DOWN>, <&kp CDOWN>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        cleft: cleft {
            compatible = "zmk,behavior-mod-morph";
            label = "cleft";
            #binding-cells = <0>;
            bindings = <&kp LEFT>, <&kp CLEFT>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        cright: cright {
            compatible = "zmk,behavior-mod-morph";
            label = "cright";
            #binding-cells = <0>;
            bindings = <&kp RIGHT>, <&kp CRIGHT>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        
        ctrljournal: ctrljournal {
            compatible = "zmk,behavior-mod-morph";
            label = "ctrljournal";
            #binding-cells = <0>;
            bindings = <&kp LCTRL>, <&kp JOURNAL>;
            mods = <(MOD_RSFT)>;
        };
        backquestion: backquestion {
            compatible = "zmk,behavior-mod-morph";
            label = "backquestion";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp QUESTION>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };  
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };       
        mk: mk {
            compatible = "zmk,behavior-hold-tap";
            label = "mk";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
         };
        mm: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 1>, <&mo 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬───────────╮                         ╭──────────┬──────────┬──────────┬──────────┬──────────┬───────────╮
    &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4      &kp N5                               &kp N6     &kp N7      &kp N8     &kp N9     &kp N0     &kp DEL
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &kp TAB    &kp SQT    &kp COMMA  &kp DOT    &kp P       &kp Y                                &kp F      &kp G       &kp C      &kp R      &kp L      &kp FSLH
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &mo NAV2   &kp A      &kp O     &kp E      &hm RSHIFT U &kp I                                &kp D      &hm RSHIFT H  &kp T    &kp N      &kp S      &cdown
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┼───────────╮  ╭──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &kp SEMI   &kp LSHIFT &kp Q     &kp J      &kp K        &kp X      &to ENC1      &kp PSCRN  &kp B     &kp M       &kp W      &kp V      &kp Z      &cup 
//╰──────────┴──────────┼──────────┼──────────┼──────────┼───────────┼───────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴───────────╯
                          &kp LGUI    &kp LALT  &kp SPACE &kp SPACE &hm LCTRL MINUS &mk MOUSE ENTER &mk NAV BSPC &none  &cleft   &cright 
//                      ╰──────────┴──────────┴──────────┴───────────┴───────────╯  ╰──────────┴──────────┴──────────┴───────────┴─────────╯
         >;           
                             sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        NAV2 {
            bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬───────────╮                         ╭──────────┬──────────┬──────────┬──────────┬──────────┬───────────╮
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                      &kp F6    &kp F7   &kp F8          &kp F9    &kp F10   &kp F11
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &trans       &none      &none    &none       &none       &none                                 &none      &none      &none    &none       &none       &kp F12  
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &trans       &none      &none    &none       &none       &none                                 &none      &none      &none    &none       &none      &none 
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┼───────────╮  ╭──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &trans       &none      &none    &none       &none       &none       &trans        &to 0      &none      &none      &none    &none       &none       &none 
//╰──────────┴──────────┼──────────┼──────────┼──────────┼───────────┼───────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴───────────╯
                           &trans     &trans     &trans     &trans      &trans        &trans      &trans     &trans     &trans     &trans     
//                      ╰──────────┴──────────┴──────────┴───────────┴───────────╯  ╰──────────┴──────────┴──────────┴───────────┴─────────╯
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
        };
        
        MOUSE {
            bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬───────────╮                         ╭──────────┬──────────┬──────────┬──────────┬──────────┬───────────╮
    &trans       &none      &none    &none       &none       &none                                 &none    &none      &none       &none       &none      &none
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &trans      &none     &none     &mmv MUP   &mwh MSUP     &none                                 &none     &kp PG_UP  &kp CUP     &none       &none      &none  
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &trans    &mmv MLEFT &mmv MLEFT  &mmv MDOWN &mmv MRIGHT  &none                                &kp RSHIFT   &kp CLEFT  &kp CDOWN   &kp CRIGHT  &kp CRIGHT &none     
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┼───────────╮  ╭──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
     &none      &none      &none      &none     &mwh MSDOWN &mkp MCLK &trans             &to 0    &kp DEL     &kp PG_DN  &none       &none       &none      &none
//╰──────────┴──────────┼──────────┼──────────┼──────────┼───────────┼───────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴───────────╯
                          &kp LGUI    &none     &mkp MCLK   &mkp LCLK &mkp RCLK         &none      &none     &none      &none       &none
//                      ╰──────────┴──────────┴──────────┴───────────┴───────────╯  ╰──────────┴──────────┴──────────┴───────────┴─────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        NAV {
            bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬───────────╮                         ╭──────────┬──────────┬──────────┬──────────┬──────────┬───────────╮
    &kp TILDE  &kp F1     &kp F2     &kp F3     &kp F4      &kp F5                               &kp F6      &kp F7     &kp F8     &kp F9    &kp F10      &kp F11
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &kp GRAVE   &none      &none     &kp UP     &kp K_APP   &kp ESC                              &kp DOLLAR  &kp N7     &kp N8     &kp N9    &kp EXCL     &kp F12
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &none       &kp LEFT   &kp LEFT  &kp DOWN   &kp RIGHT   &kp ENTER                            &kp MINUS   &kp N4     &kp N5     &kp N6    &kp N0       &cup 
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┼───────────╮  ╭──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &trans     &kp DEL     &none     &kp EQUAL  &kp BSLH    &kp LBKT    &trans        &to 0      &kp RBKT    &kp N1     &kp N2     &kp N3    &kp QUESTION &cdown 
//╰──────────┴──────────┼──────────┼──────────┼──────────┼───────────┼───────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴───────────╯
                          &kp JOURNAL &none      &kp BSPC  &trans   &hm LSHIFT BSPC       &trans    &trans      &none      &cleft     &cright
//                      ╰──────────┴──────────┴──────────┴───────────┴───────────╯  ╰──────────┴──────────┴──────────┴───────────┴─────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                    
          };
            
                    ENC1 {
            bindings = <
//╭──────────┬──────────┬──────────┬──────────┬──────────┬───────────╮                         ╭──────────┬──────────┬──────────┬──────────┬──────────┬───────────╮
    &trans     &trans     &trans     &trans      &trans     &trans                                &trans     &trans     &trans     &trans      &trans     &trans  
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &trans     &trans     &trans     &trans      &trans     &trans                                &trans     &trans     &trans     &trans      &trans     &trans  
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤                         ├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &trans     &trans     &trans     &trans      &trans     &trans                                &trans     &trans     &trans     &trans      &trans     &trans  
//├──────────┼──────────┼──────────┼──────────┼──────────┼───────────┼───────────╮  ╭──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼───────────┤ 
    &trans     &trans     &trans     &trans      &trans     &trans     &to 0          &trans       &trans     &trans     &trans     &trans      &trans     &trans  
//╰──────────┴──────────┼──────────┼──────────┼──────────┼───────────┼───────────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┴───────────╯
                           &trans     &trans     &trans     &trans      &trans        &trans      &trans     &trans     &trans     &trans     
//                      ╰──────────┴──────────┴──────────┴───────────┴───────────╯  ╰──────────┴──────────┴──────────┴───────────┴─────────╯
            >;
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp PG_UP PG_DN>;
 
        };
    };
};
